<p [ngClass]="color?'glow':''">main-component works!</p>
<input type="text" name="textt" [(ngModel)]="userData.name" placeholder="enter btn name">

<input type="number" name="text1" [(ngModel)]="userData.age" placeholder="enter btn name">

<!-- <input type="text" name="text1" [(ngModel)]="count1" placeholder="enter btn name"> -->
<button *ngIf="!color">yes</button>

<button *ngIf="color">no</button>



<button (click)="onclock()">button</button>

<h1>name:{{data?.name}}</h1>
<h1>Date : {{date}}</h1>
<h1>Date : {{date | date:'MM/dd/yyyy'}}</h1>
<app-secound [data]="parentData" (click)="parentFunction($event)">

</app-secound>